{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>연설</th>
            <th>BPM</th>
            <th>Beats</th>
            <th>신청일시</th>
        </tr>
        </thead>
        <tbody>
        {% if req_list %}
        {% for req in req_list %}
        <tr>
            <td>{{ req.id }}</td>
            <td>
                <a href="{% url 'gim:detail' req.id %}">{{ req.speech }}</a>
            </td>
            <td>{{ req.bpm }}</td>
            <td>{{ req.beats }}</td>
            <td>{{ req.timestamp }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">오디오가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'gim:req_write' %}" class="btn btn-primary">생성하기</a>
</div>